.oeuf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contenu{
    display : block;
    width : calc(100% /35);
}
.contenu img{
    display : block;
    width : 100%;
    margin : 0 auto;
}
.lettre{
    vertical-align: middle;
}
.lettre span{
    width : 100%;
}